{% extends '@PositibeCms/layout.html.twig' %}

{% from '@PositibeCore/_buttons.html.twig' import delete_confirm %}

{% block title %}Bloques de página{% endblock %}
{% block subtitle %}Editar bloque de página{% endblock %}
{% set menu_active = 'block' %}
{% set content_menu = 'page' %}

{% block breadcrumb_list %}
    <li class="breadcrumb-item">

        <a href="{{ path('positibe_page_block_index') }}">Bloques de página</a>
    </li>
    <li class="breadcrumb-item">

        {{ page_block.name }}
    </li>
{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'inbox-compose form-horizontal' }}) }}
    <input type="hidden" name="_method" value="PUT"/>
    {{ include('@PositibeCms/PageBlock/_form.html.twig') }}
    {{ form_end(form) }}

    {{ delete_confirm('positibe_page_block_remove', path('positibe_page_block_delete', {'name': page_block.name})) }}
{% endblock %}

{% block javascripts %}
    {{ include('@PositibeCms/Block/_form_always_select.html.twig') }}
{% endblock %}