{% form_theme form.locale '@PositibeCore/FormThemes/mdb_form_theme_md.html.twig' %}
{% form_theme form.iconClass '@PositibeCore/FormThemes/mdb_form_theme_md.html.twig' %}
{% form_theme form.position '@PositibeCore/FormThemes/mdb_form_theme_md.html.twig' %}

<div class="card-header white">
    <div class="card-title text-muted text-uppercase text-right">
        <div class="card-title-caption">
            <h4><i class="fa fa-users"></i> Formulario de sub-menus
            </h4>
        </div>
        <div class="card-title-actions">
            {% if menu is defined and menu.id is not null %}
                <a class="btn btn-warning btn-sm" data-toggle="modal" href="#positibe_menu_node_remove">
                    <i class="fa fa-trash"></i> Remover
                </a>
            {% endif %}
            <a href="{{ go_back('positibe_submenu_index', {'parent': app.request.get('parent')}) }}"
               name="back" class="btn btn-default btn-sm"><i class="fa fa-angle-left"></i> Atras
            </a>
            <a href="{{ app.request.server.get('REQUEST_URI') }}" class="btn btn-default btn-sm "><i
                        class="fa fa-refresh"></i> Resetear
            </a>
            <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-check"></i> Guardar</button>
        </div>
    </div>
</div>
<div class="card-block">
    <div class="row">
        <div class="col-md-9">
            {{ form_row(form.name) }}
            {{ form_row(form.label) }}
            {{ form_row(form.linkType) }}
            <div id="selectable_positibe_menu_node_uri">
                {{ form_row(form.uri) }}
            </div>
            <div id="selectable_positibe_menu_node_route">
                {{ form_row(form.route) }}
            </div>
            <div id="selectable_positibe_menu_node_content">
                {{ form_row(form.contentClass, {'attr': {'class': 'content-class' }}) }}
                {{ form_row(form.contentId) }}
            </div>
            {{ form_row(form.linkAttributes) }}
            {{ form_row(form.labelAttributes) }}

            {{ form_row(form.childrenAttributes) }}
        </div>
        <div class="col-md-3">

            <div class="card">
                <div class="card-block">
                    {{ form_row(form.locale) }}
                    {{ form_row(form.iconClass) }}
                    {{ form_row(form.display) }}
                    {{ form_row(form.displayChildren) }}
                    {{ form_row(form.position) }}
                </div>
            </div>
        </div>
    </div>

</div>
<div class="card-footer text-right">
    <div class="card-block">
        <a href="{{ go_back('positibe_submenu_index', {'parent': app.request.get('parent')}) }}"
           class="btn btn-default">Cancelar
        </a>
        <button class="btn btn-primary"><i class="fa fa-check"></i> Guardar</button>
    </div>
</div>