{% form_theme form '@PositibeCore/FormThemes/mdb_form_theme_md.html.twig' %}
<div class="card">
    <div class="card-block">
        {% if form.locale is defined %}
            {{ form_row(form.locale) }}
        {% endif %}
        {{ form_row(form.templatePosition) }}
        {% if form.roles is defined %}
            {{ form_row(form.roles) }}
        {% endif %}
        {{ form_row(form.always, {'attr': {'class': 'form_block_always' }}) }}
        <div class="form_block_visibility">
            {{ form_row(form.host) }}
            <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="#form_visibility_block_tab_category" data-toggle="tab"
                       aria-expanded="true">
                        Categoría
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#form_visibility_block_tab_pages" data-toggle="tab"
                       aria-expanded="true">
                        Páginas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#form_visibility_block_tab_routes" data-toggle="tab"
                       aria-expanded="true">
                        Rutas
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="form_visibility_block_tab_category">
                    {{ form_errors(form.categories) }}
                    {{ form_widget(form.categories) }}
                </div>
                <div class="tab-pane " id="form_visibility_block_tab_pages">
                    {{ form_errors(form.pages) }}
                    {{ form_widget(form.pages) }}
                </div>
                <div class="tab-pane " id="form_visibility_block_tab_routes">
                    {{ form_errors(form.routes) }}
                    {{ form_widget(form.routes) }}
                </div>
            </div>
        </div>
        {% if isNew is not defined or isNew == false %}
            {% if form.name is defined %}
                <div class="md-form md-form-vertical has-warning">
                    {{ form_widget(form.name, {'help': 'Puede que este valor esté en uso'}) }}
                    {{ form_errors(form.name) }}
                    {{ form_label(form.name) }}
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="card mt-1">
    <div class="card-block">
        {{ form_row(form.publishable) }}
        {{ form_row(form.publishStartDate) }}
        {{ form_row(form.publishEndDate) }}
    </div>
</div>