<div class="card-header white">
    <div class="card-title text-muted text-uppercase text-right">
        <div class="card-title-caption">
            <h4><i class="fa fa-users"></i> Datos de la página
            </h4>
        </div>
        <div class="card-title-actions">
            <a href="{{ go_back('positibe_page_index') }}"
            name="back" class="btn btn-default btn-sm"><i class="fa fa-angle-left"></i> Atras
            </a>
            <a href="{{ app.request.server.get('REQUEST_URI') }}" class="btn btn-default btn-sm "><i
                        class="fa fa-reply"></i> Resetear
            </a>
            <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-check"></i> Guardar</button>
            {% if page is defined and page.id is not null %}
                <a class="btn btn-warning btn-sm" data-toggle="modal" href="#positibe_page_remove">
                    <i class="fa fa-trash"></i> Remover
                </a>
            {% endif %}
            <div class="form-group">
                {{ form_widget(form.locale) }}
            </div>
        </div>
    </div>
</div>
<div class="card-block">
    <ul class="nav nav-tabs">
        <li  class="nav-item">
            <a href="#form_page_tab_basic" data-toggle="tab" aria-expanded="true" class="nav-link active">Información
                básica
            </a>
        </li>
        <li  class="nav-item">
            <a href="#form_page_tab_image" data-toggle="tab" aria-expanded="false" class="nav-link">Imagen</a>
        </li>
        <li class="nav-item">
            <a href="#form_page_tab_configuration" data-toggle="tab" aria-expanded="false" class="nav-link">Configuración</a>
        </li>
        <li class="nav-item">
            <a href="#form_page_tab_seo" data-toggle="tab" aria-expanded="false" class="nav-link">Meta</a>
        </li>
        <li class="nav-item">
            <a href="#form_page_tab_custom" data-toggle="tab" aria-expanded="false"  class="nav-link">Personalización</a>
        </li>
        <li class="pull-right">

        </li>
    </ul>
    <div class="tab-content">

        <div class="tab-pane active" id="form_page_tab_basic">
            {{ form_row(form.title) }}
            {{ form_row(form.body) }}
            {{ form_row(form.parent) }}
        </div>
        <div class="tab-pane" id="form_page_tab_image">
            {{ form_widget(form.image) }}
        </div>
        <div class="tab-pane" id="form_page_tab_configuration">
            {{ form_row(form.featured) }}
            {{ form_row(form.publishable) }}
            {{ form_row(form.publishStartDate) }}
            {{ form_row(form.publishEndDate) }}
        </div>
        <div class="tab-pane" id="form_page_tab_seo">
            {{ form_widget(form.routes) }}
            {{ form_errors(form.seoMetadata) }}
            {{ form_widget(form.seoMetadata) }}
        </div>
        <div class="tab-pane" id="form_page_tab_custom">
            {{ form_row(form.customController) }}
        </div>
    </div>
</div>
<div class="card-footer text-right">
    <div class="card-block">
        <a href="{{ go_back('positibe_page_index') }}" class="btn btn-default">Cancelar</a>
        <button class="btn btn-primary"><i class="fa fa-check"></i> Guardar</button>
    </div>
</div>