{% extends '@PositibeCms/layout.html.twig' %}

{% from '@PositibeCore/Grid/_pagination.html.twig' import pagination %}
{% from '@PositibeCore/Grid/_pagination.html.twig' import filter %}

{% block title %}Páginas{% endblock %}
{% block subtitle %}Listado de páginas{% endblock %}
{% set menu_active = 'content' %}
{% set content_menu = 'page' %}

{% block breadcrumb_list %}
    <li class="breadcrumb-item">
        <a href="{{ path('positibe_page_index') }}">Páginas</a>
    </li>
{% endblock %}

{% block content %}
    <form action="" method="get" id="form_page_filter" name="criteria"></form>
    <div class="card-header white">
        <div class="card-title text-muted text-uppercase text-right">
            <div class="card-title-caption">
                <h4><i class="fa fa-files-o"></i> Páginas
                    <small>Lista de páginas</small>
                </h4>
            </div>
            <div class="card-title-actions">
                <a href="{{ path('positibe_page_create') }}" class="btn btn-sm btn-default">
                    <i class="fa fa-plus-circle"></i> Crear nueva página
                </a>
            </div>
        </div>
    </div>
    <div class="card-block">
        {{ pagination(pages) }}
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>No.</th>
                <th>{{ grid_render_sorting('title', 'Título') }}</th>
                <th>Cuerpo</th>
                <th>Estado</th>
                <th>{{ grid_render_sorting('featured', 'Destacado') }}</th>
                <th>Categorías</th>
                <th>Acciones</th>
            </tr>
            <tr class="table-field-filter">
                <th></th>
                <th>{{ filter('title', 'form_page_filter') }}</th>
                <th>{{ filter('body', 'form_page_filter') }}</th>
                <th></th>
                <th>{{ filter('featured', 'form_page_filter', 'boolean') }}</th>
                <th></th>
                <th>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-default" type="submit"
                                form="form_page_filter"><i class="fa fa-search"></i> {{ 'action.filter' | trans }}
                        </button>
                    </div>
                </th>
            </tr>

            {% set count = pages.maxPerPage * (pages.currentPage - 1) %}
            {% for page in pages %}
                <tr>
                    <td>{{ count + loop.index }}</td>
                    <td>
                        <a href="{{ path('positibe_page_show',
                        {'id': page.id}) }}" title="{{ page.title }}">{{ page.title }}</a>
                    </td>
                    <td>{{ page.body | striptags | truncate(150) }}</td>
                    <td>{% if is_granted('VIEW', page) %}
                            <div class="label label-sm label-success">Publicado</div>{% else %}
                            <div class="label label-sm label-warning">No publicado</div>{% endif %}
                    </td>
                    <td class="font-yellow">{% if page.featured %}<i class="fa fa-star "></i> {% endif %}</td>
                    <td>
                        {{ page.category }}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-outline-default btn-sm"
                               href="{{ path('positibe_page_update', { 'id': page.id }) }}">
                                <i class="fa fa-edit"></i> Editar
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No hay elementos</td>
                </tr>
            {% endfor %}
        </table>
        {{ pagination(pages) }}
    </div>
{% endblock %}