{% extends '@PositibeCms/layout.html.twig' %}

{% block title %}Páginas{% endblock %}
{% block subtitle %}{{ page.title }} {% endblock %}
{% set menu_active  = 'content' %}
{% set content_menu = 'page' %}

{% block breadcrumb_list %}
    <li class="breadcrumb-item">
        <a href="{{ path('positibe_page_index') }}">Páginas</a>
    </li>
    <li class="breadcrumb-item">
        {{ page.title }}
    </li>
{% endblock %}

{% block content %}
    <div class="card-header white">
        <div class="card-title text-muted text-uppercase text-right">
            <div class="card-title-caption">
                <h4><i class="fa fa-folder-open-o"></i> Página
                    <small>{{ page.name }}</small>
                </h4>
            </div>
            <div class="card-title-actions">

                <a href="{{ path('positibe_page_index') }}"
                   name="back" class="btn btn-default btn-sm"><i class="fa fa-angle-left"></i> Atras
                </a>

                <a href="{{ path('positibe_page_update', {'id': page.id}) }}" class="btn btn-default btn-sm">
                    <i class="fa fa-edit"></i> Editar
                </a>
            </div>
        </div>


        <div class="card-block">
            <div class="row">
                <div class="col-md-9">
                    <h4>Vista previa</h4>
                    <table class="table table-striped table-bordered table-hover no-footer">
                        {% for route in page.routes %}
                            <tr>
                                <td>
                                    <a href="{{ path(route) }}">{{ (route.host ?: '') ~ route.getPath() }}</a>
                                </td>
                                <td>{{ route.getDefault('_controller') | trans }}</td>
                                <td>{{ (route.getDefault('_locale') | default('es')) | trans }}</td>
                            </tr>

                        {% else %}
                            <tr>
                                <td colspan="4">Esta página no posee rutas</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <iframe style="width: 100%; min-height: 500px"
                            src="{{ path('positibe_admin_page_iframe', {'id': page.id}) }}"></iframe>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Configuración</h4>
                            {% if page.category %}<p><strong>Categoría:</strong> {{ page.category }}</p>{% endif %}
                            <strong><i class="fa {% if page.state == 'published' %}fa-check text-info{% else %}fa-minus-circle text-danger{% endif %}"></i> {{ (page.state) | trans }}</strong>
                            <div class="pl-3 bg-faded">
                                <ul>
                                    {% if page.publishStartDate %}
                                        <li><strong>A partir del:</strong> {{ page.publishStartDate | localizeddate('medium', 'short') }} </li>
                                    {% endif %}
                                    {% if page.publishEndDate %}
                                        <li><strong>Despublicar el:</strong> {{ page.publishEndDate | localizeddate('medium', 'short') }} </li>
                                    {% endif %}
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}