{% extends '@PositibeCmf/layout.html.twig' %}


{% block title %}Páginas{% endblock %}
{% block subtitle %}{{ page.title }} {% endblock %}
{% set menu_active  = 'content' %}
{% set content_menu = 'page' %}

{% block breadcrumb_list %}
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{{ path('positibe_page_index') }}">Páginas</a>
    </li>
    <li>
        <i class="fa fa-angle-right"></i>
        {{ page.title }}
    </li>
{% endblock %}

{% block content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <p class="caption-subject font-green-sharp bold uppercase">
                    <i class="fa fa-folder-open-o"></i> Página: {{ page.title }}
                </p>
            </div>
            <div class="actions">
                <a href="{{ path('positibe_page_index') }}"
                   name="back" class="btn btn-default btn-circle"><i class="fa fa-angle-left"></i> Atras</a>

                <a href="{{ path('positibe_page_update', {'name': page.name}) }}" class="btn btn-default btn-circle">
                    <i class="fa fa-edit"></i> Editar
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="tabbable-line tabbable-full-width">
                <ul class="nav nav-tabs nav-tabs-lg">
                    <li class="active">
                        <a href="#tab_1" data-toggle="tab" aria-expanded="true">
                            Detalles </a>
                    </li>
                    <li class="">
                        <a href="#tab_3" data-toggle="tab" aria-expanded="false"> Rutas <span
                                    class="badge badge-{% if page.routes | length > 0 %}success{% else %}warning{% endif %}"> {{ page.routes | length }} </span></a>
                    </li>
                    <li class="">
                        <a href="#tab_4" data-toggle="tab" aria-expanded="false">
                            Menus <span
                                    class="badge badge-{% if page.menuNodes | length > 0 %}success{% else %}warning{% endif %}"> {{ page.menuNodes | length }} </span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="pull-right ">
                            {% if is_granted( 'VIEW', page) %}
                                <div class="label label-success"><i class="fa fa-calendar"></i>
                                    <strong>Publicado</strong></div>
                            {% else %}
                                <div class="label label-danger"><i class="fa fa-calendar"></i>
                                    <strong>Despublicado</strong></div>
                            {% endif %}
                        </div>
                        <p>
                            <img src="{% if page.image is not null %}{{ cmf_media_display_url(content.image, {'imagine_filter': 'page_big'}) }}{% endif %}"
                                 class="img-thumbnail pull-left" style="margin-right: 20px;">
                            {{ page.body | default('-')| raw }}
                        </p>

                        <div class="clearfix"></div>
                    </div>
                    <div class="tab-pane" id="tab_3">
                        <table class="table table-striped table-bordered table-hover no-footer">
                            <tr class="heading">
                                <th>Nombre</th>
                                <th>Link permanente</th>
                                <th>Tema</th>
                                <th>Idioma</th>
                            </tr>
                            {% for route in page.routes %}
                                <tr>
                                    <td>{{ route.name }}</td>
                                    <td>{{ route.getPath() }}</td>
                                    <td>{{ route.getDefault('_controller') | trans({}, 'PositibeOrmContentBundle') }}</td>
                                    <td>{{ (route.getDefault('_locale') | default('es')) | trans({},'PositibeOrmContentBundle') }}</td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td colspan="4">Esta página no posee rutas</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="tab-pane" id="tab_4">
                        <table class="table table-striped table-bordered table-hover no-footer">
                            <tr class="heading">
                                <th>Nombre</th>
                                <th>Etiqueta</th>
                                <th>Menu contenedor</th>
                                <th>Mostrado</th>
                            </tr>
                            {% for menu in page.menuNodes %}
                                <tr>
                                    <td>{{ menu.name }}</td>
                                    <td>{{ menu.label }}</td>
                                    <td>{{ menu.parent }}</td>
                                    <td>{% if menu.display %}<i class="fa fa-check"></i>{% else %}<i class="fa
                        fa-times"></i>{% endif %} </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Esta página está asignada a ningún menú</td>
                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}