{% extends '@PositibeCms/layout.html.twig' %}

{% from '@PositibeCore/_buttons.html.twig' import delete_confirm %}

{% block title %}Páginas{% endblock %}
{% block subtitle %}Editar páginas{% endblock %}
{% set menu_active  = 'content' %}
{% set content_menu = 'page' %}

{% block breadcrumb_list %}
    <li class="breadcrumb-item">

        <a href="{{ path('positibe_page_index') }}">Páginas</a>
    </li>
    <li class="breadcrumb-item">
        {{ page.title }}
    </li>
{% endblock %}

{% block content %}
    {{ form_start(form,{'attr': {'class': 'form-horizontal inbox-compose' }}) }}
    <input type="hidden" name="_method" value="PUT"/>
    {{ include('@PositibeCms/Page/_form.html.twig') }}
    {{ form_end(form) }}

    {{ delete_confirm('positibe_page_remove', path('positibe_page_delete', {'id': page.id})) }}
{% endblock %}

{% block javascripts %}
    <script>
        jQuery('.change_locale').on('change', function (e) {
            location.replace('{{ path('positibe_page_update', {'id': page.id}) }}?data_locale=' + $(this).val());
        });
    </script>
{% endblock %}
