{% extends '@PositibeCmf/layout.html.twig' %}

{% from '@PositibeCmf/_macros.html.twig' import pagination %}
{% import '@PositibeCmf/_buttons.html.twig' as buttons %}

{% block title %}Tipos de página{% endblock %}
{% block subtitle %}Listado de tipos de página{% endblock %}
{% set menu_active = 'content' %}
{% set content_menu = 'category' %}

{% block breadcrumb_list %}
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{{ path('positibe_category_index') }}">Tipos de página</a>
    </li>
{% endblock %}

{% block content %}
    <form action="" method="get" id="form_category_filter" name="criteria"></form>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <p class="caption-subject font-green-sharp bold uppercase"><i class="fa  fa-folder-open-o"></i> Tipos de página</p>
            </div>
            <div class="actions">
                <a href="{{ path('positibe_category_create') }}" class="btn btn-sm btn-default btn-circle"><i
                            class="fa
        fa-plus"></i> Nuevo tipo de página</a>
            </div>
        </div>
        <div class="portlet-body">
            {{ pagination(categories) }}
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>No.</th>
                    <th class="col-sm-2">{{ sylius_resource_sort('title', 'Título') }}</th>
                    <th class="col-sm-6">Cuerpo</th>
                    <th>Páginas</th>
                    <th>Rutas</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <input aria-valuetext="" type="text" name="criteria[title]" id="criteria_title"
                               class="form-control input-sm" form="form_category_filter"
                               value="{{ app.request.get('criteria').title | default() }}">
                    </th>
                    <th>
                        <input type="text" name="criteria[body]" id="criteria_body"
                               class="form-control input-sm" form="form_category_filter"
                               value="{{ app.request.get('criteria').body | default() }}">
                    </th>
                    <th></th>
                    <th></th>
                    <th>
                        <div class="input-group-btn">
                            <button class="btn btn-sm yellow filter-submit margin-bottom" type="submit"
                                    form="form_category_filter"><i
                                        class="fa fa-search"></i> Filtrar
                            </button>
                        </div>
                    </th>
                </tr>
                {% set count = categories.maxPerPage * (categories.currentPage - 1) %}
                {% for page in categories %}
                    <tr>
                        <td>{{ count + loop.index }}</td>
                        <td><a href="{{ path('positibe_category_update',
                            {'name': page.name}) }}" title="{{ page.name }}">{{ page.title }}</a></td>
                        <td>{{ page.body | striptags | truncate(56) }}</td>
                        <td>
                            <a href="{{ path('positibe_category_show', {'name': page.name}) }}" class="badge badge-{% if page.children | length > 0 %}success{% else %}warning{% endif %}">
                                <strong>{{ page.children | length }}</strong>
                            </a>
                        </td>
                        <td>
                            <div class="badge badge-success">{{ page.routes | length }}</div>
                        </td>
                        <td>
                            <div class="input-group">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('positibe_category_show', {'name': page.name}) }}"><i
                                            class="fa fa-search"></i> Detalles</a>
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('positibe_category_update', {'name': page.name}) }}"><i
                                            class="fa fa-edit"></i> Editar</a>

                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="6">No hay coleción de páginas</td> </tr>
                {% endfor %}
            </table>
            {{ pagination(categories) }}
        </div>
    </div>
{% endblock %}
