{% extends '@PositibeCms/layout.html.twig' %}

{% block title %}Bloques simples{% endblock %}
{% block subtitle %}Crear nuevo bloque simples{% endblock %}
{% set menu_active = 'block' %}
{% set content_menu = 'image' %}

{% block breadcrumb_list %}
    <li class="breadcrumb-item">

        <a href="{{ path('positibe_cms_block_index') }}">Bloques simples</a>
    </li>
    <li class="breadcrumb-item">

        Nuevo bloque simples
    </li>
{% endblock %}

{% block content %}
    {{ form_start(form,{'attr': {'class': 'inbox-compose form-horizontal' }}) }}
    {{ include('@PositibeCms/ContentBlock/_form.html.twig') }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ include('@PositibeCms/Block/_form_always_select.html.twig') }}
{% endblock %}