{% extends '@PositibeCmf/layout.html.twig' %}


{% block title %}Bloques simples{% endblock %}
{% block subtitle %}{{ content_block.title }} {% endblock %}
{% set menu_active = 'block' %}
{% set content_menu = 'image' %}

{% block breadcrumb_list %}
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{{ path('positibe_cms_block_index') }}">Bloques simples</a>
    </li>
    <li>
        <i class="fa fa-angle-right"></i>
        {{ content_block.title }}
        <small>({{ content_block.name }})</small>
    </li>
{% endblock %}

{% block actions_block %}
    <a href="{{ path('positibe_cms_block_update', {'name': content_block.name}) }}" class="btn grey-salt
    btn-fit-height"><i class="fa fa-edit"></i> Editar</a>
{% endblock %}

{% block content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <p class="caption-subject font-green-sharp bold uppercase">
                    <i class="fa fa-folder-open-o"></i> {{ content_block.title }}
                </p>
            </div>
            <div class="actions">
                <a href="{{ path('positibe_block_index') }}"
                   name="back" class="btn btn-default btn-circle"><i class="fa fa-angle-left"></i> Atras</a>

                <a href="{{ path('positibe_cms_block_update', {'name': content_block.name}) }}"
                   class="btn btn-default btn-circle">
                    <i class="fa fa-edit"></i> Editar
                </a>
            </div>
            <h1></h1>
        </div>
        <div class="portlet-body">
            <h4>Cuerpo:</h4>

            <p> {{ content_block.body | default('-') | raw }}</p>
            <h4>Imagen:</h4>
            {% if content_block.image is not null %}
                <p><img src="{{ content_block.image.path | imagine_filter('image_thumbnail') }}"></p>
            {% else %}
                <p class="label label-warning"> No posee imágenes</p>
            {% endif %}
        </div>
    </div>
{% endblock %}