{% extends '@PositibeCmf/layout.html.twig' %}

{% from '@PositibeCmf/_macros.html.twig' import delete_confirm %}
{% block title %}Bloques simples{% endblock %}
{% block subtitle %}Editar bloque simples{% endblock %}
{% set menu_active = 'block' %}
{% set content_menu = 'image' %}

{% block breadcrumb_list %}
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{{ path('positibe_content_block_index') }}">Bloques simples</a>
    </li>
    <li>
        <i class="fa fa-angle-right"></i>
        {{ content_block.title }}
        <small>({{ content_block.name }})</small>
    </li>
{% endblock %}

{% block content %}
    {{ form_start(form,{'attr': {'class': 'inbox-compose form-horizontal' }}) }}
    <input type="hidden" name="_method" value="PUT"/>
    {{ include('@PositibeOrmContent/ContentBlock/_form.html.twig') }}
    {{ form_end(form) }}

    {{ delete_confirm('positibe_content_block_remove', path('positibe_content_block_delete', {'name': content_block.name})) }}
{% endblock %}


{% block javascripts %}
    {{ include('@PositibeOrmContent/Block/_form_always_select.html.twig') }}
    <script>
        jQuery('#positibe_content_block_locale').on('change', function (e) {
            location.replace('{{ path('positibe_content_block_update', {'name': content_block.name}) }}?data_locale='
            + $
            (this)
                    .val
            ());
        });
    </script>
{% endblock %}