{% extends '@PositibeCms/layout.html.twig' %}

{% from '@PositibeCore/_buttons.html.twig' import delete_confirm %}
{% block title %}Bloques simples{% endblock %}
{% block subtitle %}Editar bloque simples{% endblock %}
{% set menu_active = 'block' %}
{% set content_menu = 'image' %}

{% block breadcrumb_list %}
    <li class="breadcrumb-item">
        <a href="{{ path('positibe_block_index') }}">Bloques simples</a>
    </li>
    <li class="breadcrumb-item">
        {{ content_block.name }}
    </li>
{% endblock %}

{% block content %}
    {{ form_start(form,{'attr': {'class': 'inbox-compose form-horizontal' }}) }}
    <input type="hidden" name="_method" value="PUT"/>
    {{ include('@PositibeCms/ContentBlock/_form.html.twig', {'isNew': false}) }}
    {{ form_end(form) }}

    {{ delete_confirm('positibe_content_block_remove', path('positibe_block_delete', {'id': content_block.id}), content_block) }}
{% endblock %}


{% block javascripts %}
    {{ include('@PositibeCms/Block/_form_always_select.html.twig') }}
    <script>
        jQuery('#positibe_cms_block_locale').on('change', function (e) {
            location.replace('{{ path('positibe_content_block_update', {'id': content_block.id}) }}?data_locale='+ $(this).val());
        });
    </script>
{% endblock %}