{% extends '@PositibeCms/layout.html.twig' %}

{% from '@PositibeCore/Grid/_pagination.html.twig' import pagination %}
{% from '@PositibeCore/Grid/_pagination.html.twig' import filter %}
{% import '@PositibeCore/_buttons.html.twig' as buttons %}

{% block title %}Menús{% endblock %}
{% block subtitle %}Listado de menús{% endblock %}
{% set menu_active = 'content' %}
{% set content_menu = 'menu' %}

{% block breadcrumb_list %}
    <li class="breadcrumb-item">
        <a href="{{ path('positibe_menu_index') }}">Menús</a>
    </li>
{% endblock %}

{% block content %}
    <form action="" method="get" id="form_menu_filter" name="criteria"></form>
    <div class="card-header white">
        <div class="card-title text-muted text-uppercase text-right">
            <div class="card-title-caption">
                <h4><i class="fa fa-sitemap"></i> Menus
                    <small>Lista de menus</small>
                </h4>
            </div>
            <div class="card-title-actions">
                <a href="{{ path('positibe_menu_create') }}" class="btn btn-sm btn-default">
                    <i class="fa fa-plus-circle"></i> Crear nuevo menu
                </a>
            </div>
        </div>
    </div>
    <div class="card-block">
        {{ pagination(menus) }}
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>No.</th>
                <th>{{ grid_render_sorting('name', 'Nombre') }}</th>
                <th>Submenus</th>
                <th>Attributos</th>
                <th>Mostrado</th>
                <th>Acciones</th>
            </tr>
            <tr class="table-field-filter">
                <th></th>
                <th>{{ filter('name', 'form_menu_filter') }}</th>
                <th></th>
                <th></th>
                <th>{{ filter('publishable', 'form_menu_filter', 'boolean') }}</th>
                <th>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-default" type="submit"
                                form="form_menu_filter"><i class="fa fa-search"></i> {{ 'action.filter' | trans }}
                        </button>
                    </div>
                </th>
            </tr>
            {% set count = menus.maxPerPage * (menus.currentPage - 1) %}
            {% for menu in menus %}
                <tr>
                    <td>{{ count + loop.index }}</td>
                    <td>
                        <a href="{{ path('positibe_submenu_index', {'parent': menu.name}) }}">{{ menu.name }}</a>
                    </td>
                    <td>
                        <a class="badge badge-{% if menu.children | length == 0 %}warning{% else %}success{% endif %}"
                           href="{{ path('positibe_submenu_index', {'parent': menu.name }) }}">
                            <strong>{{ menu.children | length }}</strong>
                        </a>
                    </td>
                    <td>{{ menu.childrenAttributes | join(',') | default('-') }}</td>
                    <td>
                        {% if menu.display == false or menu.displayChildren == false or menu.publishable == false %}
                            <i class="fa fa-times text-danger"></i>
                        {% else %}
                            <i class="fa fa-check-square text-success"></i>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('positibe_menu_update', {'name': menu.name }) }}"
                               class="btn btn-outline-default btn-sm"><i class="fa fa-edit"></i> Editar
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No hay menus</td>
                </tr>
            {% endfor %}
        </table>
        {{ pagination(menus) }}
    </div>
{% endblock %}