{% extends '@PositibeCmf/layout.html.twig' %}

{% block title %}Menús{% endblock %}
{% block subtitle %}Crear nuevo submenú{% endblock %}
{% set menu_active = 'content' %}
{% set content_menu = 'menu' %}

{% block breadcrumb_list %}
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{{ path('positibe_menu_index') }}">Menús</a>
    </li>
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{{ path('positibe_submenu_index', {'parent': app.request.get('parent')}) }}"> {{ app.request.get('parent') }}</a>
    </li>
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{{ path('positibe_submenu_child_index', {'parent':app.request.get('parent'), 'name': app.request.get('name'), 'child_name': menu.name }) }}">
            {{ app.request.get('name') }}
        </a>
    </li>
    <li>
        <i class="fa fa-angle-right"></i>
        Anidar menú
    </li>
{% endblock %}

{% block content %}
    {{ form_start(form,{'attr': {'class': 'inbox-compose form-horizontal' }}) }}
    {{ include('@PositibeOrmContent/SubMenuChildren/_form.html.twig') }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ include('@PositibeOrmContent/SubMenu/_form_javascript.html.twig') }}
{% endblock %}