{% extends '@PositibeCmf/layout.html.twig' %}

{% from '@PositibeCmf/_macros.html.twig' import pagination %}
{% import '@PositibeCmf/_buttons.html.twig' as buttons %}

{% block title %}Bloques de menu{% endblock %}
{% block subtitle %}Listado de bloques de menu{% endblock %}
{% set menu_active  = 'block'%}
{% set content_menu = 'menu' %}

{% block breadcrumb_list %}
    <li>
        <i class="fa fa-angle-right"></i>
        <a href="{{ path('positibe_menu_block_index') }}">Bloques de menu</a>
    </li>
{% endblock %}

{% block content %}
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <p class="caption-subject font-green-sharp bold uppercase"><i class="fa fa-file"></i> Bloques de menu
                </p>
            </div>
            <div class="actions">
                <a href="{{ path('positibe_menu_block_create') }}" class="btn btn-sm btn-default btn-circle"><i
                            class="fa
        fa-plus"></i> Nuevo bloque de menu</a>
            </div>
        </div>
        <div class="portlet-body">
            {{ pagination(menu_blocks) }}
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>No.</th>
                    <th class="col-lg-2">{{ sylius_resource_sort('name', 'Nombre') }}</th>
                    <th class="col-lg-7">Submenus</th>
                    <th>Acciones</th>
                </tr>
                {% set count = menu_blocks.maxPerPage * (menu_blocks.currentPage - 1) %}
                {% for menu_block in menu_blocks %}
                    <tr>
                        <td>{{ count + loop.index }}</td>
                        <td><a href="{{ path('positibe_menu_block_update',
                            {'name': menu_block.name}) }}"
                               title="{{ menu_block.name }}">{{ menu_block.name | truncate(30) }}</a></td>
                        <td>{{ menu_block.menu }}</td>
                        <td>
                            <a class="btn btn-default btn-xs"
                               href="{{ path('positibe_menu_block_show', {'name': menu_block.name}) }}"><i
                                        class="fa fa-search"></i> Detalles</a>
                            <a class="btn btn-default btn-xs"
                               href="{{ path('positibe_menu_block_update', {'name': menu_block.name}) }}"><i
                                        class="fa fa-edit"></i> Editar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No hay bloques</td>
                    </tr>
                {% endfor %}
            </table>
            {{ pagination(menu_blocks) }}
        </div>
    </div>
{% endblock %}
