{% extends '@PositibeCms/layout.html.twig' %}

{% from '@PositibeCore/_buttons.html.twig' import delete_confirm %}

{% block title %}Bloques de menu{% endblock %}
{% block subtitle %}Editar bloque de menu{% endblock %}
{% set menu_active  = 'block'%}
{% set content_menu = 'menu' %}

{% block breadcrumb_list %}
    <li class="breadcrumb-item">
        <a href="{{ path('positibe_block_index') }}">Bloques</a>
    </li>
    <li class="breadcrumb-item">
        {{ menu_block.name }}
    </li>
{% endblock %}

{% block content %}
    {{ form_start(form,{'attr': {'class': 'inbox-compose form-horizontal' }}) }}
    <input type="hidden" name="_method" value="PUT"/>
    {{ include('@PositibeCms/MenuBlock/_form.html.twig', {'isNew': false}) }}
    {{ form_end(form) }}

    {{ delete_confirm('positibe_menu_block_remove', path('positibe_block_delete', {'id': menu_block.id}), menu_block) }}
{% endblock %}

{% block javascripts %}
    {{ include('@PositibeCms/Block/_form_always_select.html.twig') }}
{% endblock %}