

{% from '@PositibeCore/_buttons.html.twig' import delete_button %}

<div class="portlet light ">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
            <span class="caption-subject font-green-sharp bold uppercase"><i class="fa fa-file-movie-o"></i> Datos del bloque</span>
        </div>
        <div class="actions btn-set">
            <a href="{{ path('positibe_block_index') }}"
               name="back" class="btn btn-default"><i class="fa fa-angle-left"></i> Atras</a>
            <a href="{{ app.request.server.get('REQUEST_URI') }}" class="btn btn-default "><i
                        class="fa fa-reply"></i> Resetear</a>
            <button class="btn green-haze" type="submit"><i class="fa fa-check"></i> Guardar</button>
            {% if gallery_block is defined and gallery_block.id is not null %}
                {{ delete_button('positibe_gallery_block_remove') }}
            {% endif %}
        </div>

    </div>
    <div class="portlet-body">
        <div class="tabbable-line tabbable-full-width">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#form_gallery_block_tab_basic" data-toggle="tab" aria-expanded="true">Informaci칩n
                        b치sica</a>
                </li>
                <li class="">
                    <a href="#form_block_tab_location" data-toggle="tab"
                       aria-expanded="false">Ubicaci칩n</a>
                </li>
                <li class="">
                    <a href="#form_block_tab_configuration" data-toggle="tab" aria-expanded="false">Configuraci칩n</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="form_gallery_block_tab_basic">
                    {% if form.name is defined %}
                        {{ form_row(form.name) }}
                    {% endif %}
                    {{ form_row(form.gallery) }}
                </div>
                {{ include('@PositibeCms/Block/_form_extra_configuration.html.twig') }}
            </div>
        </div>
        <div class="form-actions text-right">
            <hr>
            <a href="{{ path('positibe_block_index') }}" class="btn btn-default">Cancelar</a>
            <button class="btn btn-primary"><i class="fa fa-check"></i> Guardar</button>
        </div>
    </div>
</div>