{% extends '@PositibeCms/layout.html.twig' %}

{% block title %}Bloques de galería de imágenes{% endblock %}
{% block subtitle %}Crear nuevo bloque de galería de imágenes{% endblock %}
{% set menu_active = 'block' %}
{% set content_menu = 'gallery' %}

{% block breadcrumb_list %}
    <li class="breadcrumb-item">

        <a href="{{ path('positibe_block_index') }}">Bloques</a>
    </li>
    <li class="breadcrumb-item">
        Nuevo bloque de galería de imágenes
    </li>
{% endblock %}

{% block content %}
    {{ form_start(form,{'attr': {'class': 'inbox-compose form-horizontal' }}) }}
    {{ include('@PositibeCms/GalleryBlock/_form.html.twig', {'isNew': true}) }}
    {{ form_end(form) }}
{% endblock %}


{% block javascripts %}
    {{ include('@PositibeCms/Block/_form_always_select.html.twig') }}
{% endblock %}